body {
  margin: 0;
  font-family: 'Verdana', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

input {
  width: 50%;
  border-radius: 2px;
  margin-bottom: 20px;
}

label {
  font-size:18px;
  width: 120px;
  display: inline-block;
}

.btn {
  display: inline-block;
  background: #002;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-family: inherit;
}